#root {
  position: relative;
  min-height: 100vh;
}

main {
  padding-bottom: 15vh;
}

.category-menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
}

.category-item {
  border: 1px solid grey;
  font-weight: 500;
  border-radius: 20px;
  margin: 8px;
  padding: 5px 20px;

}

.category-item-clicked {
  background-color: black;
  color: white;
}

.category-item:hover {
  background-color: #999999;
  color: whitesmoke;
  cursor: pointer;
}

.ticket {
  border: 1px solid grey;
  border-radius: 10px;
  margin: 20px 20px;
}

.tickets-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
}

.Login {
  padding: 60px 0;
}

.Login form {
  margin: 0 auto;
  max-width: 320px;
}

.Login input {
  margin: 10px 0;
  display: block;
  box-sizing: border-box;
}

.main-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
  text-align: center;
  background-color: #b9b9b9;
  font-size: 2rem;
  font-weight: 500;
  font-family: 'Times New Roman', Times, serif;
}

header {
  display: flex;
  background-color: #fafafa;
  padding: 15px 5vw;
}

.link-button {
  cursor: pointer;
  text-decoration: none;
}

.link-button:active {
  color: unset;
}

.sell-tickets-btn {
  margin-inline-start: auto;
  padding: 8px 25px;
  color: white;
  border-radius: 3px;
  background-color: #555555;
}

.copyright-text {
  color: rgba(0, 0, 0, .7);
  text-shadow: 0 1px rgba(255, 255, 255, 0.1);
}

footer {
  position: absolute;
  bottom: 0;
  background: #b9b9b9;
  text-align: center;
  width: 100%;
  height: 8vh;
}