P{
text-align: left;
color: red;
font-size:50px;
}
/* #d{
  position: fixed;
  display: flex;
  justify-content:space-between;

} */

.links{
display: inline;
padding-left: 10px;
padding-right: 10px;
}
.search{
  text-align: center;
  font-size: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.pic{
  display: flex;
  justify-content:space-evenly;
}
.container{
  /* position: fixed; */
  display: flex;
  justify-content:space-between;
  /* float: initial; */
}
.logo{
  font-size: 40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: aquamarine;
  
}
.bbbb{
  direction: rtl;
}

.App {
  text-align:left;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
   display: flex; 
  flex-direction: column;
  align-items:left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
