.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.category-menu{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
}
.category-item{
  border: 1px solid grey;
  font-weight: 500;
  border-radius: 20px;
  margin: 8px;
  padding: 5px 20px;
  
}
.category-item-clicked{
  background-color: black;
  color: white;
}
.category-item:hover{
  background-color: #999999;
  color: whitesmoke;
  cursor: pointer;
}

.ticket {
  /* width: 180px; */
  /* height: 220px; */
  border: 1px solid grey;
  border-radius: 10px;
  margin: 20px 20px;
}

.tickets-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
}
