.card {
    width: 210px;
    border: 1px solid lightslategray;
    background-color: #eee;;
    border: 5px solid grey;
}

.card > * {
    font-weight: 300;
}

.eventImgContainer {
    text-align: center;
    border: 5px solid grey;
    
}

.eventImg {
    width: 90%;
}