@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

/* * {
  box-sizing: border-box;
} */
body{
  background: url('/assets/img9.jpg') center center/cover no-repeat;
}

label{
  color:white
}
.container{
  display: flex;
  justify-content: center;
 
}
.Login {
  /* display: flex; */
  /* justify-content: center; */
  margin-top:10%;
  opacity: 0.8;
  background-color: #5F9EA0;
  border-radius: 25px;
  direction: ltr;
  text-align: left;
  /* width: 900px; */
  padding: 1%;
  font-family: 'Fira Sans', sans-serif;
  font-size: 17px;
  width: 600px;
  padding: 10px 60px;

}

.form-group{
  /* text-align: center; */
  align-items: center;
  margin-left:13%;
}
/* .form-group input{
  margin-left:50%;
} */

.title2 {
  font-size: 55px;
  color: white;
  font-weight: bold;
  font-family: 'Fira Sans', sans-serif;
  margin-top: 10%;
  margin-bottom: 5%;
  text-align: center;
}

h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}

body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
}

.btn-login{
  background-color:blue;
  border: none;
  color: white;
  padding: 10px;
  /* text-align: center; */
  /* text-decoration: none; */
  /* display: inline-block; */
  font-size: 16px;
  width: 20%;
  margin: 5% 2px 0px 40%;
  cursor: pointer;
  font-family: 'Fira Sans', sans-serif;
  
}
.forgot-password{
  margin-left: 30%;
  margin-top: 5%;
}

/* .navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
} */

/* .auth-wrapper {
  display: flex;
  justify-content: left;
  flex-direction: column;
  text-align: left;
} */

/* .auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 200px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
} */

/* .auth-wrapper .form-control:focus {
  border-color:white;
  box-shadow: none;
} */

/* .auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
} */

/* .custom-control-label {
  font-weight: 400;
} */