@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

/* * {
  box-sizing: border-box;
} */
.Login {
  direction: ltr;
  text-align: left;
  width: 900px;
  padding: 1%;
  font-family: 'Fira Sans', sans-serif;
  font-size: 17px;
  width: 800px;
  padding: 10px 60px;

}

.title2 {
  font-size: 55px;
  color: black;
  font-weight: bold;
  font-family: 'Fira Sans', sans-serif;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}

body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
}

.btn{
  background-color:blue;
  border: none;
  color: white;
  padding: 10px;
  /* text-align: center; */
  /* text-decoration: none; */
  /* display: inline-block; */
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Fira Sans', sans-serif;
  
} 

/* .navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
} */

/* .auth-wrapper {
  display: flex;
  justify-content: left;
  flex-direction: column;
  text-align: left;
} */

/* .auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 200px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
} */

/* .auth-wrapper .form-control:focus {
  border-color:white;
  box-shadow: none;
} */

/* .auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
} */

/* .custom-control-label {
  font-weight: 400;
} */