@import "http://fonts.googleapis.com/css?family=Roboto:300,400,500,700";

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  margin-top: 20%;
  width: 150px;
}
.rating > span {
  font-size: 30px;
  display: inline-block;
  position: relative;
  width: 1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
}

.fa-plus {
  color: white;
}
.container {
  margin-top: 20px;
}
.mb20 {
  margin-bottom: 20px;
}

hgroup {
  padding-left: 15px;
  border-bottom: 1px solid #a9a9a9;
}
hgroup h1 {
  font: 500 normal 1.625em "Roboto", Arial, Verdana, sans-serif;
  color: #2a3644;
  margin-top: 0;
  line-height: 1.15;
}
hgroup h2.lead {
  font: normal normal 1.125em "Roboto", Arial, Verdana, sans-serif;
  color: #2a3644;
  margin: 0;
  padding-bottom: 10px;
}

.search-result .thumbnail {
  border-radius: 0 !important;
}
.search-result:first-child {
  margin-left: 0%;
  width: 100%;
  height: 28vh;
}
.search-result {
  margin-top: 20px;
}
.search-result .col-md-2 {
  border-left: 1px solid gray;
  min-height: 140px;
  padding-left: 9%;
}
.search-result ul {
  padding-left: 0 !important;
  list-style: none;
}
.search-result ul li {
  font: 400 normal 0.85em "Roboto", Arial, Verdana, sans-serif;
  line-height: 30px;
}
.search-result ul li i {
  padding-right: 5px;
}
.search-result .col-md-7 {
  position: relative;
}
.search-result h3 {
  font: 500 normal 1.375em "Roboto", Arial, Verdana, sans-serif;
  margin-top: 0 !important;
  margin-bottom: 10px !important;
}
.search-result h3 > a,
.search-result i {
  color: #248dc1 !important;
}
.search-result p {
  font: normal normal 1.125em "Roboto", Arial, Verdana, sans-serif;
}
.search-result span.plus {
  position: absolute;
  right: 0;
  top: 126px;
}
.search-result span.plus a {
  background-color: #248dc1;
  padding: 5px 5px 3px 5px;
}
.search-result span.plus a:hover {
  background-color: #414141;
}
.search-result span.plus a i {
  color: #fff !important;
}
.search-result span.border {
  display: block;
  width: 97%;
  margin: 0 15px;
  border-bottom: 10px dotted black;
}

.singleResult {
  height: 34vh;
  background: #f5f5f5;
  border: 1px solid #a9a9a9;
  margin-left: 5%;
  width: 90%;
}

@media (min-width: 768px) {
  .col-md-7 {
    /* -ms-flex: 0 0 58.333333%; */
    flex: 0 0 30%;
    max-width: 40%;
    margin-left: 10%;
    /* border-left: 2px solid grey; */
  }
}

@media (min-width: 768px) {
  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    padding-top: 2.5%;
  }
}
.result-sort {
  width: 64%;
  margin-left: 18%;
  /* border: 1px solid #A9A9A9; */
}
button.sortBtn {
  width: 20%;
  margin: 8px 0;
  border-radius: 15px;
  font-family: "Fira Sans", sans-serif;
  box-shadow: 0 8px 6px -6px black;
  background-color: white;
}
