/* .searchContainer{ */
    /* background-color: white;
    border-radius: 15px;
    border-width: 0px;
    position: absolute;
    left: 244px;
     top: 215px; 
    width: 926px;
    height: 77px; */
    
/* } */
input{
    border-color: white;
    display: inline-block;

}

